
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @ViewBag.result1
    <br />
    @ViewBag.result2
    <br />
    @ViewBag.result3

    <h3>Product Info</h3>
    Id: @ViewBag.product.Id
    <br />
    Name: @ViewBag.product.Name
    <br />
    Price: @ViewBag.product.Price
    <br />

    <h3>Product List</h3>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        @foreach(var product in ViewBag.products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </table>

</body>
</html>
